@page "/draw"
@inject IJSRuntime JSRuntime;
<p>sdfsdfsdfsdfsd</p>
<canvas width="1000" height="800" style="background-color:aqua"id="drawCanvas" @onmousemove="(e => draw(e))" @onmousedown="(e => mouseDown(e))" @onmouseup="mouseUp" @onmouseout="mouseUp">
<hr />
</canvas>
@code {
    private bool isDrawing;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<string>("startDrawing");
        }
    }

    private void mouseUp()
    {
        isDrawing = false;
        JSRuntime.InvokeAsync<string>("endDrawing");
    }

    private void mouseDown(MouseEventArgs e)
    {
        isDrawing = true;
    }

    private void draw(MouseEventArgs e)
    {
        if(!isDrawing) return;
        JSRuntime.InvokeAsync<string>("drawPoint", e.ClientX, e.ClientY);
    }
}
